@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#application {
  background: #eee;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr [footer-start] auto;
}

#application-content-container {
  padding: 0.5em;

  @include media-breakpoint-up(xs) {
    margin: 0 5%;
  }

  @include media-breakpoint-up(md) {
    margin: 0 10%;
  }
}

#application-footer {
  grid-row-start: footer;

  dl {
    font-size: 0.80rem;
    margin: 0;

    dt {
      padding-right: 0;
    }
    dd {
      margin-bottom: 0.15rem;
    }
  }
}

.text-right {
  text-align: right;
}

.btn-link-de-chonk {
  padding: 0 !important;
}