@import "app.scss";

.logo:hover {
  animation-delay: 5s;
  animation-name: logo-zoom;
  animation-duration: 60s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes logo-zoom {
  0% { transform: scale(100%); }
  100% { transform: scale(1000%); }
}

.nav-icon-container {
  display: flex;
  flex-direction: row !important;

  @include media-breakpoint-up(xs) {
    margin-left: -0.5rem;
  }

  & > .nav-link,.navbar-text {
    padding: 0.5rem !important;
  }
}
