.nav-icon-container {
  display: flex;
  flex-direction: row !important;

  & > .nav-link {
    padding: 0.5rem 0.5rem 0.5rem 0rem !important;

    & ~ .nav-link {
      padding-left: 0.5rem !important;
    }
  }
}
